<form name="add_user" id="add_user" action="add_user.php" method="post" >

<div id="username">
	<p>Benutzername:</p>
	<input type="text" name="username" value="" >
</div>

<div id="password">
	<p>Neues Passwort:</p>
	<input type="text" name="password" value="" >
</div>

<div id="submit">
	<input type="submit" value="Passwort &Auml;ndern">
</div>

</form>