<h2>Benutzerverwaltung</h2>
<p>Text-Tutorial Willkommen</p>
<p>Sie haben folgende M&ouml;glichkeiten:</p>
<a href="add_user.php">Benutzer erstellen</a>
<a href="edit_user.php">Benutzer bearbeiten</a>
<a href="del_user.php">Benutzer l&ouml;schen</a>