<p>Die Anleitung zur Benutzerverwaltung finden sie im <a href="https://github.com/clusterag/auth/wiki/Administrative-Aufgaben"> auth Wiki auf GitHub</a>.</p>
<p>Sie haben folgende M&ouml;glichkeiten:</p>
<a href="add_user">Benutzer erstellen</a>
<a href="show_user">Benutzer bearbeiten</a>
<a href="del_user">Benutzer l&ouml;schen</a>
<a href="teachers">Lehrer anzeigen</a>
<a href="wipe">VORSICHT!! Alle Sch&uuml;er l&ouml;schen</a>
