<form name="delete_user" id="delete_user" action="del_user.php" method="post" >

<div id="username">
	<p>Benutzername:</p>
	<input type="text" name="username" value="" >
</div>

<div id="submit">
	<input type="submit" value="Benutzer löschen">
</div>

</form>