<form name="edit_user" id="edit_user" action="edit_user.php" method="post" >

<div id="username">
	<p>Benutzername:</p>
	<input type="text" name="username" value="" >
</div>

<div id="password">
	<p>Neues Passwort:</p>
	<input type="text" name="password" value="" >
</div>

<div id="teacher">
	<input type="checkbox" name="teacher" value="2" >
	<p>Lehrer?</p>
</div>

<div id="submit">
	<input type="submit" value="Benutzer aktualisieren">
</div>

</form>