<form name="login" id="login" action="index" method="post" >

<div id="username">
	<p>Benutzername:</p>
	<input type="text" name="username" value="" >
</div>

<div id="password">
	<p>Passwort:</p>
	<input type="password" name="password" value="" >
</div>

<div id="submit">
	<input type="submit" value="Anmelden">
</div>

</form>

