<form name="search_user" id="search_user" action="search_user" method="post" >

<div id="lastname">
	<p>Nachname:</p>
	<input type="text" name="lastname" value="" >
</div>

<div id="submit">
	<input type="submit" value="Benutzer suchen">
</div>

</form>
