<form name="settings" id="settings" action="settings.php" method="post" >

<div id="password">
	<p>Aktuelles Passwort:</p>
	<input type="password" name="password" value="" >
</div>

<div id="password">
	<p>Neues Passwort:</p>
	<input type="password" name="password_1" value="" >
</div>

<div id="password">
	<p>Neues Passwort wiederholen:</p>
	<input type="password" name="password_2" value="" >
</div>

<div id="submit">
	<input type="submit" value="Passwort Ändern">
</div>

</form>
