<form name="select_user" id="select_user" action="show_user" method="post" >

<div id="username">
	<p>Benutzername:</p>
	<input type="text" name="username" value="" >
</div>

<div id="submit">
	<input type="submit" value="Benutzer suchen">
</div>

</form>