<form name="add_teacher" id="add_teacher" action="add_teacher.php" method="post" >

<div id="firstname">
	<p>Vorname:</p>
	<input type="text" name="firstname" value="" >
</div>

<div id="lastname">
	<p>Nachname:</p>
	<input type="text" name="lastname" value="" >
</div>

<div id="username">
	<p>K&uuml;rzel:</p>
	<input type="text" name="username" value="" >
</div>

<div id="submit">
	<input type="submit" value="Lehrer erstellen">
</div>

</form>