<form name="add_teacher" id="add_teacher" action="add_teacher.php" method="post" >

<div id="firstname">
	<span>Vorname:</span>
	<input type="text" name="firstname" value="" >
	<span>Nachname:</span>
	<input type="text" name="lastname" value="" >
	<span>K&uuml;rzel:</span>
	<input type="text" name="username" value="" >
	<input type="submit" value="Lehrer erstellen">
</div>

</form>