<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<!--This file is part of regular.
	regular is Copyright 2013 Jonathan Eberle & Cluster-AG Leinger-Gymnasium Grünstadt regular is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
	regular is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	You should have received a copy of the GNU General Public License along with regular. See the file LICENSE. If not, see http://www.gnu.org/licenses/.-->
	<title>Leininger-Gymnasium</title>
	<link rel="stylesheet" type="text/css" media="screen" href="regular/style.css">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<meta name="description" content="kurze, praegnante beschreibung ">
	<meta name="keywords" content="liste relevanter schlagworte, nicht, uebertreiben">
</head>
<body>
	<div id="main">
		<div id="top">
			<div id="headline">
				<img src="regular/images/logo.svg" alt="Logo des Leininger-Gymnasiums" title="Leininger-Gymnasium">
				<h1>Leininger-Gymnasium</h1>
			</div>
			<nav id="topnav">
				<ul id="mainnav">
						<li class="mainnavitem">
							<a href="http://leiningergymnasium.de">Home</a>
						</li>
						<!--HEADER_LEFT-->
						<!--HEADER_RIGHT-->
				</ul>
			</nav>
		</div>
		<div id="bodycopy">
			<div id="vertretungsplan">
				<!--CONTENT-->
			</div>
		</div>
		<div id="footer">
			<nav id="footernav">
				<ul id="footernavlist">
					<li class="footernavitem">
						<a href="http://www.leiningergymnasium.de/index.php?id=11">Impressum</a>
					</li>
					<li class="footernavitem">
						<a href="http://www.leiningergymnasium.de/index.php?id=11">Beschwerden</a>
					</li>
					<li class="footernavitem">
						<a href="https://github.com/clusterag">Cluster AG</a>
					</li>
					<li class="footernavitem">
						<a href="http://valentin.sabitum.net">Valentin Wagner</a>
					</li>
					<li class="footernavitem">
						<a href="http://johnee.eu/">Jonathan Eberle</a>
					</li>
				</ul>
			</nav>
					<a href="#top" id="topscroll">Nach oben</a>
						<p>COPYRIGHT 2014 Jonathan Eberle &amp; Valentin Wagner. All rights reserved. Alle Rechte Vorbehalten. Special thanks to Nicolai Koukal, Daniela Eller, Daniel Richter, Cluster AG des Leininger-Gymnasiums.</p>
		</div>
	</div>
</body>
</html>
