<p>Diese Funktion dient dazu alle Sch&uuml;lerbenutzer zu l&ouml;schen wenn bei beginn des Schuljahres neue Benutzerkonten generiert werden sollen.</p>
<p>WOLLEN SIE WIRKLICH ALLE BENUTZER L&Ouml;SCHEN?</p>
<form name="wipe" id="wipe" action="wipe.php" method="post" >
<input type="hidden" name="wipe" value="1" >
<div id="submit">
	<input type="submit" value="Alle Benutzer l&ouml;schen">
</div>

</form>
