WOLLEN SIE WIRKLICH WIPEN?


<form name="wipe" id="wipe" action="wipe.php" method="post" >
<input type="hidden" name="wipe" value="1" >
<div id="submit">
	<input type="submit" value="Anmelden">
</div>

</form>
